<h1>ADMIN - PRODUCTS</h1>
<section class="get">
    <h3>PRODUCTS ITEM</h3>
    <a href="/admin/product/get-data">LOAD DATA</a>
    <div>
        {{# each items }}
        <article class="item">
            <div><b>Nama Produk</b>: <br> {{ this.title }}</div>
            <div><b>image URL</b>: <br> {{ this.imagePath }}</div>
            <div><b>Deskripsi</b>: <br> {{ this.description }}</div>
            <div><b>harga</b>: <br> {{ this.price }}</div>
            <div><b>ID</b>: <br> {{ this._id }}</div>
        </article>
        {{/each}}
    </div>
</section>

<section class="insert">
    <h3>TAMBAH PRODUCT</h3>
    <form action="/admin/product/insert" method="post">
        <div class="input">
            <label for="title">Nama Produk</label>
            <input type="text" id="title" name="title">
        </div>
        <div class="input">
            <label for="imagePath">image URL</label>
            <input type="text" id="imagePath" name="imagePath">
        </div>
        <div class="input">
            <label for="description">Deskripsi</label>
            <input type="text" id="author" name="description">
        </div>
        <div class="input">
            <label for="price">Harga</label>
            <input type="number" id="price" name="price">
        </div>
        <button type="submit">INSERT</button>
    </form>
</section>

<section class="update">
    <h3>UPDATE PRODUCT</h3>
    <form action="/admin/product/update" method="post">
        <div class="input">
            <label for="id">ID</label>
            <input type="text" id="id" name="id">
        </div>
        <div class="input">
            <label for="title">Nama Produk</label>
            <input type="text" id="title" name="title">
        </div>
        <div class="input">
            <label for="imagePath">image URL</label>
            <input type="text" id="imagePath" name="imagePath">
        </div>
        <div class="input">
            <label for="description">Deskripsi</label>
            <input type="text" id="author" name="description">
        </div>
        <div class="input">
            <label for="price">Harga</label>
            <input type="number" id="price" name="price">
        </div>
        <button type="submit">UPDATE</button>
    </form>
</section>

<section class="delete">
    <h3>HAPUS PRODUCT</h3>
    <form action="/admin/product/delete" method="post">
        <div class="input">
            <label for="id">ID</label>
            <input type="text" id="id" name="id">
        </div>
        <button type="submit">DELETE</button>
    </form>
</section>
